* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat';
    background: #f4f6f9;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 15px;
    padding-right: 25px;
}

.Main-container {
    background: #fff;
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);

}

.sidebar {
    background: #1e2939;
    width: 370px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.my-photo {
    width: 370px;
}

.about-me-container {
    padding: 90px;
    padding-right: 90px;
    padding-top: 110px;
    padding-bottom: 110px;
}

.Contact-container {
    margin-top: 60px;
    margin-left: 40px;
    margin-right: 40px;
}

.contact-title {
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    color: #ffffff;
}

.contcts-link{
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #828992;
   }

.contcts-link-title{
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    color: #ffffff;
    margin-right: 10px;    
}

.tech-skills-title {
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    margin-top: 20px;
    margin-bottom : 20px;
    color: #ffffff;
}

.tech-skills-container {
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 55px;
}

.tech-skills-item {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin-left: 15px;
    color: #ff6b08;  
}

.tech-skills-text {
    color: #a0a5acff; 
}

.soft-skills {
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 50px;
}

.soft-skills-title{
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    margin-top: 20px;
    margin-bottom : 15px;
    color: #fff;
}

.soft-skills-item {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin-left: 15px;
    color: #ff6b08; 
}

.tech-skills-text {
    color: #a0a5acff;  
}

.profession {
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 23px;

}
.name {
    font-size: 35px;
    font-weight: 700;
    line-height: 89px;
}

.description {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 24px;
    color: #595959;
    
}

.info-container {
    margin-bottom: 65px;
}

.about-me-title {
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 10px;
}

.projects-link {
    color: #595959;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.tech-name {
    color: #595959;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.dots {
    color: #bdbdbd;
    font-weight: 100;
}

.project-item {
    font-weight: 700;
    margin-left: 18px;
}

.projects-container {
       margin-bottom: 55px;
}

.profesion-title {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    margin-top: 10px;
    margin-bottom: 15px;
}

.profession-company {
    color: #ff6b08; 
   }

.profession-time {
    color: #a8a8a8;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
}

.profession-divider {
    color: #000;
}

.profession-duties {
    margin-top: 14px;
    margin-bottom: 30px;
}

.profession-duties-item {
    color: #595959;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #595959;
}

.university {
    color: #ff6b08;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 15px;
}

.specialty {
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 14px;
}

  
 


